*.elc
*~
/*.tar
/*.tar.gz
/Documentation/*.epub
/Documentation/*.html
/Documentation/*.info
/Documentation/*.pdf
/Documentation/META-INF/
/Documentation/OEBPS/
/Documentation/dir
/Documentation/epub.xml
/Documentation/magit/
/Documentation/magit-section/
/Documentation/mimetype
/Documentation/stats/
/config.mk
/lisp/magit-autoloads.el
/lisp/magit-version.el
/Documentation/docs-ja/*.epub
/Documentation/docs-ja/*.html
/Documentation/docs-ja/mimetype
/Documentation/docs-ja/sed-out/
/Documentation/docs-ja/translate-raw/
